---
title: Y.K.H.M.
description: >-
  Youvois Kartel Haute Montagne. Rappeur francophonien pour kaukaze des bois.
  Musique du future aujourd'hui.
image: /images/hero.jpg
deuxiem_image: /images/tagueule.jpg
layout: default
---

<!-- Banner -->
      <section id="banner" style="background-color:rgba(240, 242, 255, 0.25);background-image: url({{ page.image }});background-size:cover;background-repeat:no-repeat;">
        <div class="content">
          <header>
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
          </header>
          <a href="https://pauvrecoude.bandcamp.com" style="border: none;"><span class="image"><img src="/images/pauvrecoude.jpg" alt="Le visage de Pauvre Coude" class="editable" /></span></a>
        </div>
        <a href="#one" class="goto-next scrolly">Next</a>
      </section>


{% for sortie in site.sorties %}
			<!-- Two -->
				<section id="two" class="spotlight style1 {% cycle 'right', 'left' %}">
					<span class="image fit main"><img src="{{ sortie.image }}" alt="{{ sortie.title }}" /></span>
					<div class="content">
						<header>
							<h2>{{ sortie.title}}</h2>
							<p>{{ sortie.description }}</p>
						</header>
						<p>{{ sortie.content | truncate: 120 }}</p>
						<ul class="actions">
							<li><a href="{{ sortie.url }}" class="button">Éoute Kaucaze!</a></li>
						</ul>
					</div>

        </section>
{% endfor %}


			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2 class="editable">Disponible <a href="https://pauvrecoude.bandcamp.com" style="color:red;">partout,</a> Tentend?</h2>
							<p class="editable">Payes ta musique Kaukaze. Respect aux pirates! Tu sais ou te fournir!</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
{% for shop in site.data.shops %}
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon alt major {{ shop.icon }}"></span>
									<a href="{{ shop.url }}" target=""><h3>{{ shop.name }}</h3></a>
								</section>
{% endfor %}
							</div>
						</div>
						<!-- <footer class="major">
							<ul class="actions special">
								<li class="editable"><a href="#" class="button">Magna sed feugiat</a></li>
							</ul>
						</footer> -->
					</div>
				</section>

{% include contactform.html %}



